
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif ;
   
}
body {
    background-color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    padding: 1% 6%; 
    justify-content: space-between;  
    align-items: center; 
    background-color: rgb(255, 208, 0);
    /*background-image: conic-gradient(red, rgb(0, 153, 255), green, rgb(255, 153, 0), black); */
    
}
nav a {
    text-decoration: none;
    font-weight: 800;
    flex: 1 1 auto;
    font-size: 30px;
    color: rgb(0, 0, 0);
    
}
nav img {
    width: 80px;     
}

nav ul   {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li{
    display: inline-block;
}

nav li a{
  display:inline-block ;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}
nav li a:hover{
    
    border-radius: 4px;
    color: rgb(255, 255, 255);
}

/* Home section */
.home-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home-section .content .my-photo img {
    height: auto;
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
}

.home-section .content .home-text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.home-section .content .home-text h1 {
    font-size: 60px;
    font-family: 'Neuton', serif;   
}

.home-section .content .home-text h2 {
    font-size: 40px;
    font-family: 'Neuton', serif; 
    color:  rgb(255, 153, 0);
}

.content {
width: 1380px ;
max-width: 95%;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;

}
	
.content .social-links a{
	text-decoration: none;
	display: inline-block;
	margin: 20px 10px 0px 10px;
}
.content .social-links a img{
	width: 25px;
	display:block;
	transition: all 0.5s ease;
}
.content .social-links a:hover img{
	opacity:0.5;
}
/* About section */

.about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about .main img{
    height: auto;
    width: 500px;
    max-width: 100%;
    border-radius: 1000px;
}
.about .main .about-text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.about .main .about-text h1 {
    font-size: 60px;
    font-family: 'Neuton', serif; 
}
.about .main .about-text p{
    padding-top: 10px;
    font-size:20px;
    font-family: 'Inter', sans-serif;

}
.main {
    width: 1380px ;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to top, rgba(223, 113, 208, 0), rgb(255, 187, 0));
    border-radius: 10px;

}











/*<div class="nav-links">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a href="">GALLERY</a></li>
                </ul>
            </div>
            font-family: 'Inter', sans-serif;
            font-family: 'Neuton', serif;



            
section .name h1 {
    padding-top: 70px;
    font-size: 40px;
    font-family: 'Neuton', serif;   
    

}
section .name h2 {
    font-size: 50px;
    font-family: 'Neuton', serif;   
    color: hsl(189, 100%, 51%);

}
section .camera img{
   border-radius: 20px;
   width: 500px;
   
}  
.about {
   
    width: 100;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
}


.main img {
    height: auto;
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    background-color: aqua;
    

}
.text {
    width: 550px;
    max-width:100%;
    padding: 0 50px ;
}


            
             */